@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --primary-color: #191919;
  --secondary-color: #d87d4a;
  --secondary-color-light: #fbaf85;
  --light-grey: #f1f1f1;

  --content-width: 1110px;
  --content-padding: 30px;
}
body {
  font-family: "Manrope", "Roboto", sans-serif;
  background-color: var(--primary-color);
  color: white;
}
.App {
  display: grid;
  grid-template-rows: 96px 1fr 100%;
}
main {
  background-color: #fff;
  display: grid;
}
.page-header {
  background-color: var(--primary-color);
  height: 241px;
  display: grid;
  place-content: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #ffffff;
}
